---
import ArticleCard from "../components/ArticleCard.astro";
import BlogLayout from "../layouts/BlogLayout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<BlogLayout>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {
      allPosts.map((post) => (
        <ArticleCard url={`/posts/${post.id}`} frontmatter={post.data} />
      ))
    }
  </div>
</BlogLayout>
