---
import ArticleCard from "../components/ArticleCard.astro";
import BlogLayout from "../layouts/BlogLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BlogLayout>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    {allPosts.map((post) => <ArticleCard post={post} />)}
  </div>
</BlogLayout>
