---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
const allCategories = [...new Set(allPosts.map((post) => post.data.category))];

const categoryCounts = allCategories.map((category) => ({
  name: category,
  count: allPosts.filter((post) => post.data.category === category).length,
}));

categoryCounts.sort((a, b) => b.count - a.count);
---

<div class="bg-white p-6 shadow">
  <h3 class="text-lg font-bold text-gray-800 mb-4 relative">
    カテゴリー
    <div class="absolute -bottom-1 left-0 w-8 h-0.5 bg-gray-800"></div>
  </h3>
  <ul class="space-y-3">
    {
      categoryCounts.map((category) => (
        <li class="flex justify-between items-center group">
          <a
            href={`/categories/${category.name}`}
            class="text-sm text-gray-600 hover:text-gray-800 transition-colors relative"
          >
            <span class="absolute -left-3 top-1/2 transform -translate-y-1/2 w-0 h-0.5 bg-gray-600 group-hover:w-2 transition-all duration-300" />
            {category.name}
          </a>
          <span class="text-xs px-2 py-0.5">({category.count})</span>
        </li>
      ))
    }
  </ul>
</div>
