---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
allPosts.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const recentPosts = allPosts.slice(0, 5);
---

<div class="bg-white p-6 mb-6 shadow">
  <h3 class="text-lg font-bold text-gray-800 mb-4 relative">
    最近の投稿
    <div class="absolute -bottom-1 left-0 w-8 h-0.5 bg-gray-800"></div>
  </h3>
  <ul class="space-y-3">
    {
      allPosts.map((post) => (
        <li class="relative pl-3">
          <a
            href={`/posts/${post.id}`}
            class="text-sm text-gray-600 hover:text-gray-800 transition-colors"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
