---
import { getRecentPosts } from "../utils/blog";

const recentPosts = await getRecentPosts(5);
---

<div class="bg-white p-6 mb-6 shadow">
  <h3 class="text-lg font-bold text-gray-800 mb-4 relative">
    最近の投稿
    <div class="absolute -bottom-1 left-0 w-8 h-0.5 bg-gray-800"></div>
  </h3>
  <ul class="space-y-3">
    {
      recentPosts.map((post) => (
        <li class="relative pl-3">
          <a
            href={`/posts/${post.id}`}
            class="text-sm text-gray-600 hover:text-gray-800 transition-colors"
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</div>
