---
import ArticleCard from "../components/ArticleCard.astro";
import AuthorCard from "../components/AuthorCard.astro";
import CategoriesCard from "../components/CategoriesCard.astro";
import RecentPostsCard from "../components/RecentPostsCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout>
  <div class="max-w-6xl mx-auto px-4 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-2">
        <slot />
      </div>

      <div class="lg:col-span-1 mt-8 lg:mt-0">
        <AuthorCard />
        <RecentPostsCard />
        <CategoriesCard />
      </div>
    </div>
  </div>
</BaseLayout>
