---
import TagList from "./TagList.astro";
import type { ArticleMetadataProps } from "../../types/blog";

const { dateText, category, tags } = Astro.props as ArticleMetadataProps;
---

<div class="text-sm text-gray-500 mb-3">
  <span>{dateText}</span>
  {
    category && (
      <>
        {" | "}
        <span class="text-gray-600 font-medium">
          {category}
        </span>
      </>
    )
  }
</div>
<div class="mb-3">
  <TagList tags={tags} stopPropagation={true} />
</div>